* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font9);
}

.navbar .left span {
  font-size: 30px;
}

.navbar .left ul li {
  font-size: 20px;
}

.left {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.left ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left ul li {
  list-style: none;
  margin: 0 15px;
}

.left ul li a {
  text-decoration: none;
  color: black;
}

.left ul li a:hover {
  color: var(--main-bg-color);
}

.footer {
  height: 35px;
  background: var(--main-bg-color);
}

.left span {
  margin-right: 50px;
}

.content-left h1 {
  padding-bottom: 10px;
}

.content {
  height: 100%;
  display: flex;
  position: relative;
}

.content::after {
  content: "";
  background-image: url("/img/img2.jpg");
  background-size: cover;
  width: 100%;
  opacity: 0.2;
  height: inherit;
  position: absolute;
}

.content-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  padding-left: 10px;
  z-index: 1;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  border-radius: 50%;
  border: 3px solid var(--main-bg-color);
}

.content-right img {
  height: 180px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.home-articles {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}

.home-articles .year-box {
  position: absolute;
  margin-top: 50px;
  right: 50px;
  height: 100px;
  width: 150px;
}

.home-articles .year-box input {
  margin: 6px;
}

.footer {
  height: 50px;
  background: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  padding: 20px;
  margin-top: 10px;
  font-size: 14px;
}

.footer a {
  color: black;
  text-decoration: none;
}

.home-article img {
  height: 180px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.home-article {
  display: flex;
  padding: 20px;
}

.home-article-content {
  padding: 20px;
  align-self: center;
}